footer
    background #414131
    padding $rem(10) 0
    .center
        display flex
        align-items center
        justify-content space-between
        +mobile()
            display block
            text-align center
            p + p
                margin-top .5em
    p
        margin 0
        oswald 11
        color #fff
        letter-spacing .5px
