header
    background #414131
    border-bottom 1px solid #8C8C7C
    padding $rem(40) 0
    a
        width 100%
        display flex
        align-items baseline
        justify-content center
        span
            oswald 48 light
            color #8C8C7C
            margin-left .65em
        +mobile()
            flex-wrap wrap
            img
                max-width 140px
            span
                width 100%
                text-align center
                margin-top .4em
                margin-left 0
                font-size 24px
