html
    font-size 16px
    +tablet()
        font-size 15px
    +mobile()
        font-size 14px

body
    background #4D4D3D

a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5

@keyframes spin
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)
