desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap')

oswald($size, $weight = normal)
    font-size $rem($size)
    font-family 'Oswald', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700
