.filtros
    margin $rem(22) 0 $rem(60)
    .center
        display flex
        align-items center
        justify-content space-between
        +mobile()
            display block
    .filtro
        display flex
        align-items center
        span
            oswald 14
            color #fff
            margin-right 10px
            cursor default
            +mobile()
                width 60px
        select
            width 160px
            background transparent $img('seta-selecao.png') no-repeat center right 5px
            border 0
            appearance none
            outline 0
            height 25px
            color #8C8C7C
            oswald 14
            cursor pointer

.produtos
    margin-bottom $rem(60)
    .center
        display flex
        flex-wrap wrap

.nenhum
    border 1px solid #8c8c7c
    padding 15px
    oswald 14
    color #8c8c7c
    text-align center
    width 100%
    text-transform uppercase

.produtos a
.produto .left
    position relative
    width calc('33.333% - 20px/3')
    background #ffffff
    margin-right 10px
    margin-bottom 10px
    padding 20px 20px 15px
    text-align center
    &:nth-child(3n)
        margin-right 0
    +mobile()
        width 100%
        margin 0
        + a
            margin-top 10px
    img
        display block
        max-width 100%
        margin 0 auto
    h2
        oswald 16
        margin 1em 0 0
        color #414131
        +below($tablet)
            font-size 15px
    p
        oswald 12
        color #414131
        margin .5em 0 0
        font-size 12px
        span
            color #8C8C7C
    .desconto
        position absolute
        width 80px
        height 80px
        right 0
        top 0
        background $img('selo-desconto.png') no-repeat center
        display flex
        align-items center
        justify-content flex-end
        z-index 2
        span
            color #fff
            transform translate(-8px, -17px)
            oswald 15 medium
    .vendido
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background rgba(#4D4D3D, .7)
        display flex
        align-items center
        justify-content center
        z-index 3
        span
            oswald 32 bold
            color #ffffff
            transform translateY(-50%)

.produto
    margin $rem(30) 0 $rem(60)
    .center
        display flex
        justify-content space-between
        align-items flex-start
        +mobile()
            display block
            .left
            .right
                width 100%
            .right
                margin-top 15px
    .left
        width 66.667%
        +above($mobile)
            padding 25px 25px 20px
            h2
                oswald 32
            p
                oswald 18
    .thumbs
        margin-top $rem(20)
        display grid
        grid-template-columns repeat(auto-fill, minmax(80px, 1fr))
        grid-gap 5px
        div
            padding 5px
            border 1px solid #ddd
            cursor pointer
            &.active
                border-color #414131
    .display
        position relative
        img
            transition .3s
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            margin-left -15px
            margin-top -15px
            width 30px
            height 30px
            border-radius 50%
            z-index 2
            border-left 4px solid #414131
            border-right 4px solid #414131
            border-top 4px solid #414131
            border-bottom 4px solid transparent
            animation spin 1s infinite linear
            transition .6s
            opacity 0
        &.loading
            img
                opacity .5
            &:after
                opacity 1
    .right
        width 29%
        color #fff
        padding-top $rem(20)
        h2
            oswald 18
            margin 0 0 1em
        p
            oswald 16
            margin 0
            &.valor
                font-weight bold
            &.estoque
                font-size 12px
        hr
            height 1px
            background #797969
            border 0
            margin 20px 0
        .enviado
            margin 20px 0 10px
            border 1px solid #ffffff
            display flex
            align-items center
            justify-content center
            height 155px
            span
                display block
                text-align center
                oswald 14
                text-transform uppercase
                + span
                    margin-top .6em
        form
            margin 20px 0 10px
            input[type=text]
            input[type=email]
                width 100%
                height 34px
                display block
                margin-bottom 4px
                border 1px solid #fff
                oswald 14
                padding 0 8px
                background transparent
                color #fff
                outline 0
                +placeholder()
                    color #fff
            input[type=submit]
                margin-top 8px
                outline 0
                border 1px solid #fff
                cursor pointer
                padding 8px 15px
                oswald 14 bold
                color #fff
                background transparent
            .erro
                margin-top 8px
                background #c54242
                padding 10px
                oswald 14

.btn-voltar
    display block
    width 100%
    margin $rem(120) auto 0
    max-width 390px
    border 1px solid #8C8C7C
    color #8C8C7C
    text-align center
    padding 20px
    oswald 18 light
    &:hover
        color #fff
    +mobile()
        margin-top 45px
